.topbar {
    background-color: #dbcef7;
    border: none;
    box-shadow: 0 3px 6px rgba(29, 29, 29, 0.742);
    display: flex;
    justify-content: space-between;
    /* Change to space-between */
    align-items: center;
    padding: 8px;
    margin-bottom: 10px;
}

.logo {
    height: 50px;
    /* Adjust as needed */
}

.username {
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}

.p-button-secondary {
    background-color: black;
    border-color: grey;
    padding: 6px 16px;
    font-size: 14px;
}

.p-button-secondary:hover {
    background-color: lightslategrey;
    border-color: grey;
}